# dependencies
node_modules
.pnpm

# build output
dist
out
*/.next

# misc
.DS_Store
*.pem
.idea

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*

# test & docs
coverage
docs-build

# vercel
.vercel

# custom
.gemini
journal
zcom.md